.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: inherit;
}

.icon svg {
  width: 100%;
  height: 100%;
}

/* Sizes */
.xs {
  width: 0.75rem;
  height: 0.75rem;
}

.sm {
  width: 1rem;
  height: 1rem;
}

.md {
  width: 1.25rem;
  height: 1.25rem;
}

.lg {
  width: 1.5rem;
  height: 1.5rem;
}

.xl {
  width: 2rem;
  height: 2rem;
}
