.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg);
  overflow: hidden;
}

/* Lottie Animation */
.lottieWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lottie {
  width: 200px;
  height: 200px;
}

@media (min-width: 768px) {
  .lottie {
    width: 300px;
    height: 300px;
  }
}
